<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>G279FN9YW7</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.mycompany.trocafigurinha</key>
		<string>b0f0f15d-9ee8-485b-8909-0736ce8cf1ed</string>
	</dict>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
